#virtualKeyboard {
        height: 164px;
        margin: 0;
        padding: 0;
        position: fixed;
        width: 400px;
}
body #virtualKeyboard {
        left: 110px;
        behavior: url(keyboard/ie-fixed.htc);
        top: 110px;
        position: relative;
}
td #virtualKeyboard, div #virtualKeyboard, p #virtualKeyboard {
        left: 0px;
        behavior: "";
        top: 0px;
        padding-bottom: 4px;
}
/*
*  global overrides
*/
#virtualKeyboard * {
        border: 0;
        color: black; 
        cursor: default;
        margin: 0;
        padding: 0;
}
#virtualKeyboard #kbHeader {
        background: url(kb_header_bg.png) top left repeat-x;
        height: 29px;
        margin: 0 6px;
        position: relative;
        text-align: center;
}
#virtualKeyboard #kbHeaderLeft {
        background: url(kb_header_bg_left.png) top left no-repeat;
        font-family: "Trebuchet MS", "MS Trebuchet", Trebuchet, Tahoma; 
        font-size: 13px; 
        font-weight: bold; 
        height: 100%;
        left: -6px;
        line-height: 29px;
        padding-left: 6px;
        position: relative;
        text-align: left;
}
#virtualKeyboard #kbHeaderRight {
        background: url(kb_header_bg_right.png) top left no-repeat;
        display: block;
        height: 100%;
        position: absolute;
        right: -12px;
        text-decoration: none;
        top: 0;
        width: 29px;
}
#virtualKeyboard #kbHeaderRight:hover {
        background: url(kb_header_bg_right_hover.png) top left no-repeat;
}
#virtualKeyboard #kbDesk {
        background: #ECE9D8;
        border: 1px solid #686888;
        border-top: 0;
        height: 134px;
        padding: 4px 4px 0;
        position: relative;
        font-size: 1px;
        overflow: hidden;
}
#virtualKeyboard #kbDesk.capsLock {
        text-transform: uppercase;
}
#virtualKeyboard #kbDesk div.kbButton {
        float: left;
        height: 26px;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 26px;
        z-index: 2;
}
#virtualKeyboard #kbDesk div.kbButton a {
        background: url(button_set.gif) 0 0 no-repeat;
        display: block;
        height: 100%;
        text-decoration: none;
        width: 100%;
}
#virtualKeyboard #kbDesk div.kbButtonHover a {
        background-position: 0 -27px;
}
#virtualKeyboard #kbDesk div.kbButtonDown a {
        background-position: 0 -54px;
}
#virtualKeyboard #kbDesk div.kbButton span {
        display: block;
        font-family: Verdana;
        font-size: 13px;
        font-weight: normal;
        overflow: visible;
        text-align: center;
}
#virtualKeyboard #kbDesk div.kbButton span.shifted {
        font-family: Verdana;
        font-size: 7.5pt;
        height: 100%;
        line-height: 1.1;
        position: absolute;
        right: -5px;
        top: 0;
        text-transform: none;
        vertical-align: bottom;
        width: 100%;
}
#virtualKeyboard #kbDesk div.kbButton span.normal {
        position: absolute;
        bottom: 4px;
        left: 4px;
        text-indent: 0;
}
#virtualKeyboard #kbDesk span.deadKey {
        color: red;
}

#virtualKeyboard #kbDesk div#kb_benter {
        background-position: -194px 0px;
        left: -2px;
        margin-top: -26px;
        position: relative;
        float: right;
        height: 52px;
        width: 54px;
        z-index: 0;
}
#virtualKeyboard #kbDesk div#kb_benter a {
        background-position: -194px 0px;
}
#virtualKeyboard #kbDesk div#kb_benter.kbButtonHover a {
        background-position: -194px -53px;
}
#virtualKeyboard #kbDesk div#kb_benter.kbButtonDown a {
        background-position: -194px -106px;
}
#virtualKeyboard #kbDesk div#kb_bbackspace a {
        background-position: -27px -81px;
}
#virtualKeyboard #kbDesk div#kb_bbackspace.kbButtonHover a {
        background-position: -27px -108px;
}
#virtualKeyboard #kbDesk div#kb_bbackspace.kbButtonDown a {
        background-position: -27px -135px;
}
#virtualKeyboard #kbDesk div#kb_btab {
        width: 41px;
}
#virtualKeyboard #kbDesk div#kb_btab a {
        background-position: -155px -81px;
}
#virtualKeyboard #kbDesk div#kb_btab.kbButtonHover a {
        background-position: -155px -108px;
}
#virtualKeyboard #kbDesk div#kb_btab.kbButtonDown a {
        background-position: -155px -135px;
}
#virtualKeyboard #kbDesk div#kb_bcaps {
        width: 48px;
}
#virtualKeyboard #kbDesk div#kb_bcaps a {
        background-position: -107px -81px;
}
#virtualKeyboard #kbDesk div#kb_bcaps.kbButtonHover a {
        background-position: -107px -108px;
}
#virtualKeyboard #kbDesk div#kb_bcaps.kbButtonDown a {
        background-position: -107px -135px;
}
#virtualKeyboard #kbDesk div#kb_bshift_left,
#virtualKeyboard #kbDesk div#kb_bshift_right {
        width: 52px;
}
#virtualKeyboard #kbDesk div#kb_bshift_left a,
#virtualKeyboard #kbDesk div#kb_bshift_right a {
        background-position: -54px -81px;
}
#virtualKeyboard #kbDesk div#kb_bshift_left.kbButtonHover a,
#virtualKeyboard #kbDesk div#kb_bshift_right.kbButtonHover a {
        background-position: -54px -108px;
}
#virtualKeyboard #kbDesk div#kb_bshift_left.kbButtonDown a,
#virtualKeyboard #kbDesk div#kb_bshift_right.kbButtonDown a {
        background-position: -54px -135px;
}
#virtualKeyboard #kbDesk div#kb_bdel a {
        background-position: 0 -81px;
}
#virtualKeyboard #kbDesk div#kb_bdel.kbButtonHover a {
        background-position: 0 -108px;
}
#virtualKeyboard #kbDesk div#kb_bdel.kbButtonDown a {
        background-position: 0 -135px;
}
#virtualKeyboard #kbDesk div#kb_bspace {
        left: 90px;
        width: 166px;
}
#virtualKeyboard #kbDesk div#kb_bspace a {
        background-position: -27px 0;
}
#virtualKeyboard #kbDesk div#kb_bspace.kbButtonHover a {
        background-position: -27px -27px;
}
#virtualKeyboard #kbDesk div#kb_bspace.kbButtonDown a {
        background-position: -27px -54px;
}
#virtualKeyboard #kb_langselector {
        bottom: 4px;
        cursor: default;
        font-family: Tahoma, Verdana, Arial, sans-serif; 
        font-size: 11px;
        height: 24px; 
        line-height: 1;
        position: absolute;
        right: 0;
        width: 135px; 
}
#virtualKeyboard #kb_langselector select {
        border: 1px solid;
        font-family: Tahoma, Verdana, Arial, sans-serif;
        font-size: 11px;
}
/*
*  Checkbox enables keys translation
*/
#virtualKeyboard label.kbTranslatorLabel {
        bottom: 0;
        left: 5px;
        position: absolute;
}
#virtualKeyboard label.kbTranslatorLabel input {
        vertical-align: baseline;
}