html.VirtualKeyboardPopup, body.VirtualKeyboardPopup {
        padding: 0;
        margin: 0;
}

#virtualKeyboard {
        border: 1px solid #686888;
        background: #ECE9D8;
        height: 160px;
        margin: 0;
        padding: 0;
        position: relative;
        width: 396px;
}
/*
*  global overrides
*/
#virtualKeyboard * {
        border: 0;
        color: black; 
        cursor: default;
        margin: 0;
        padding: 0;
}
#virtualKeyboard #kbDesk {
        display: inline-block;
        margin: 0;
        padding: 4px 2px 0 2px;
/*IE5.5 will ignore the rule below */
        margin/**/:/**/ 4px 2px 0 4px;
        padding/**/:/**/ 0;
/*--*/
        position: relative;
        font-size: 1px;
        overflow: hidden;
        -moz-user-select: none;
        -khtml-user-select: none;
}

#virtualKeyboard #kbDesk div.kbButton {
        float: left;
        height: 26px;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 26px;
        z-index: 2;
}
#virtualKeyboard #kbDesk div.kbButton a {
        background: url(button_set.gif) 0 0 no-repeat;
        display: block;
        height: 100%;
        position: relative;
        text-decoration: none;
        width: 100%;
}
#virtualKeyboard #kbDesk.capsLock div.kbButton span.normal {
        text-transform: uppercase;
}

#virtualKeyboard #kbDesk div.kbButtonHover a {
        background-position: 0 -27px;
}
#virtualKeyboard #kbDesk div.kbButtonDown a {
        background-position: 0 -54px;
}
#virtualKeyboard #kbDesk div.kbButton span {
        display: block;
        font-family: Verdana;
        font-size: 13px;
        font-weight: normal;
        overflow: visible;
        text-align: center;
}
#virtualKeyboard #kbDesk div.kbButton span.shifted {
        color: green;
        font-family: Verdana;
        font-size: 6pt;
        height: 100%;
        line-height: 1.1;
        position: absolute;
        right: -5px;
        top: 0;
        text-transform: none;
        vertical-align: bottom;
        width: 100%;
}
#virtualKeyboard #kbDesk div.kbButton span.alted {
        color: blue;
        font-family: Verdana;
        font-size: 6pt;
        height: 100%;
        line-height: 1.1;
        position: absolute;
        right: 7px;
        top: 0px;
        text-transform: none;
        vertical-align: bottom;
        width: 100%;
}
#virtualKeyboard #kbDesk div.kbButton span.normal {
        position: absolute;
        bottom: 4px;
        left: 5px;
        text-indent: 0;
}
#virtualKeyboard #kbDesk span.deadKey {
        color: red;
}

#virtualKeyboard #kbDesk div#kb_benter {
        background-position: -194px 0px;
        margin-top: -26px;
        position: relative;
        float: right;
        height: 52px;
        width: 56px;
        z-index: -1;
}
#virtualKeyboard #kbDesk div#kb_benter[id] {
        z-index: 0;
}
#virtualKeyboard #kbDesk div#kb_benter a {
        background-position: -194px 0px;
}
#virtualKeyboard #kbDesk div#kb_benter.kbButtonHover a {
        background-position: -194px -53px;
}
#virtualKeyboard #kbDesk div#kb_benter.kbButtonDown a {
        background-position: -194px -106px;
}
#virtualKeyboard #kbDesk div#kb_bbackspace a {
        background-position: -27px -81px;
}
#virtualKeyboard #kbDesk div#kb_bbackspace.kbButtonHover a {
        background-position: -27px -108px;
}
#virtualKeyboard #kbDesk div#kb_bbackspace.kbButtonDown a {
        background-position: -27px -135px;
}
#virtualKeyboard #kbDesk div#kb_btab {
        width: 41px;
}
#virtualKeyboard #kbDesk div#kb_btab a {
        background-position: -155px -81px;
}
#virtualKeyboard #kbDesk div#kb_btab.kbButtonHover a {
        background-position: -155px -108px;
}
#virtualKeyboard #kbDesk div#kb_btab.kbButtonDown a {
        background-position: -155px -135px;
}
#virtualKeyboard #kbDesk div#kb_bcaps {
        width: 48px;
}
#virtualKeyboard #kbDesk div#kb_bcaps a {
        background-position: -107px -81px;
}
#virtualKeyboard #kbDesk div#kb_bcaps.kbButtonHover a {
        background-position: -107px -108px;
}
#virtualKeyboard #kbDesk div#kb_bcaps.kbButtonDown a {
        background-position: -107px -135px;
}
#virtualKeyboard #kbDesk div#kb_bshift_left,
#virtualKeyboard #kbDesk div#kb_bshift_right {
        width: 52px;
}
#virtualKeyboard #kbDesk div#kb_bshift_left a,
#virtualKeyboard #kbDesk div#kb_bshift_right a {
        background-position: -54px -81px;
}
#virtualKeyboard #kbDesk div#kb_bshift_left.kbButtonHover a,
#virtualKeyboard #kbDesk div#kb_bshift_right.kbButtonHover a {
        background-position: -54px -108px;
}
#virtualKeyboard #kbDesk div#kb_bshift_left.kbButtonDown a,
#virtualKeyboard #kbDesk div#kb_bshift_right.kbButtonDown a {
        background-position: -54px -135px;
}
#virtualKeyboard #kbDesk div#kb_balt_left,
#virtualKeyboard #kbDesk div#kb_balt_right {
		padding: 0 0 0 2px;
        width: 32px;
}
#virtualKeyboard #kbDesk div#kb_balt_left {
        margin-left: 33px;
        padding-left: 0;
/*IE5.5 will ignore the rule below */
        padding-left/**/:/**/ 41px;
        margin-left/**/:/**/ 0;
/*--*/
}
#virtualKeyboard #kbDesk div#kb_balt_left a,
#virtualKeyboard #kbDesk div#kb_balt_right a {
        background-position: -251px 0;
}
#virtualKeyboard #kbDesk div#kb_balt_left.kbButtonHover a,
#virtualKeyboard #kbDesk div#kb_balt_right.kbButtonHover a {
        background-position: -251px -27px;
}
#virtualKeyboard #kbDesk div#kb_balt_left.kbButtonDown a,
#virtualKeyboard #kbDesk div#kb_balt_right.kbButtonDown a {
        background-position: -251px -54px;
}
#virtualKeyboard #kbDesk div#kb_bctrl_left,
#virtualKeyboard #kbDesk div#kb_bctrl_right {
        float: left;
        width: 32px;
}
#virtualKeyboard #kbDesk div#kb_bctrl_right {
        float: right;
}
#virtualKeyboard #kbDesk div#kb_bctrl_left a,
#virtualKeyboard #kbDesk div#kb_bctrl_right a {
        background-position: -251px -81px;
}
#virtualKeyboard #kbDesk div#kb_bctrl_left.kbButtonHover a,
#virtualKeyboard #kbDesk div#kb_bctrl_right.kbButtonHover a {
        background-position: -251px -108px;
}
#virtualKeyboard #kbDesk div#kb_bctrl_left.kbButtonDown a,
#virtualKeyboard #kbDesk div#kb_bctrl_right.kbButtonDown a {
        background-position: -251px -135px;
}
#virtualKeyboard #kbDesk div#kb_bdel a {
        background-position: 0 -81px;
}
#virtualKeyboard #kbDesk div#kb_bdel.kbButtonHover a {
        background-position: 0 -108px;
}
#virtualKeyboard #kbDesk div#kb_bdel.kbButtonDown a {
        background-position: 0 -135px;
}
#virtualKeyboard #kbDesk div#kb_bspace {
        width: 166px;
}
#virtualKeyboard #kbDesk div#kb_bspace a {
        background-position: -27px 0;
}
#virtualKeyboard #kbDesk div#kb_bspace.kbButtonHover a {
        background-position: -27px -27px;
}
#virtualKeyboard #kbDesk div#kb_bspace.kbButtonDown a {
        background-position: -27px -54px;
}

#virtualKeyboard select#kb_langselector {
        right: 68px;
        width: 45px;
}
#virtualKeyboard select#kb_layoutselector {
        right: 2px;
        width: 85px;
}
#virtualKeyboard select#kb_langselector, #virtualKeyboard select#kb_layoutselector {
        bottom: 2px;
        border: 1px solid black;
        font-family: Arial, Tahoma, Verdana sans-serif;
        font-size: 11px;
        position: absolute;
}
#virtualKeyboard #copyrights {
        bottom: 4px;
        color: blue;
        font-size: 9px;
        left: 2px;
        line-height: normal;
        position: absolute;
        text-transform: italic;
}
#virtualKeyboard #copyrights a {
        color: blue;
        cursor: normal;
        outline: 0;
}
